APP_URL=http://localhost:3333
FRONT_END_URL=http://localhost:3000
NODE_ENV=development

# Auth

APP_SECRET=hbcdhvvvxzgvxg

# Database

DB_HOST=localhost
DB_USER=postgres
DB_PASS=docker
DB_NAME=servicoaqui

# Mongo

MONGO_URL=mongodb://localhost:27017/servicoaqui

# Redis

REDIS_HOST=127.0.0.1
REDIS_PORT=6379

# Mail

MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USER=8e09a7495d0588
MAIL_PASS=5411dbfa6d481f

# Sentry

SENTRY_DSN=
